# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Entornos virtuales
.venv/
.venv311/
venv/
env/
ENV/

# Variables de entorno
.env

# Archivos de medios (subidos por usuarios)
vevi_mastering/media/
!vevi_mastering/media/.gitkeep

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Archivos temporales de masterización y análisis
*_mastering_config.json
*_vevi_master_ia.wav
